In [25]:
# -*- coding:utf-8 -*-
import json
import sqlite3

JSON_FILE = "example.json"
DB_FILE = "saas.sqlite"

traffic = json.load(open(JSON_FILE))
conn = sqlite3.connect(DB_FILE)

In [27]:
traffic

{'totalResults': 4,
 'columnHeaders': [{'name:': 'company_id', 'dataType': 'STRING'},
  {'name:': 'plan_started_on', 'dataType': 'STRING'},
  {'name:': 'plan |', 'dataType': 'STRING'}],
 'results': [['1', '20170101', 'free trial'],
  ['1', '20171013', 'advanced'],
  ['2', '20170214', 'free trial'],
  ['2', '20170228', 'free']]}

In [28]:
c = conn.cursor()
c.execute('create table SAAS_table (traffic)')

In [ ]:
c.execute('insert into table_name values (?,?)', data)

conn.commit()
c.close()

In [24]:
import json
import sqlite3
from pprint import pprint

jsonObj = "example.json"

with open(jsonObj) as json_data:
    data = json.load(json_data)
    json_data.close()

pprint(data)

conn = sqlite3.connect('test.sqlite')
c = db.cursor()
c.execute("CREATE TABLE IF NOT EXISTS SAAS_history")

for item in data:
    c.execute(json.dumps(SAAS_history))
    conn.commit()

{'columnHeaders': [{'dataType': 'STRING', 'name:': 'company_id'},
                   {'dataType': 'STRING', 'name:': 'plan_started_on'},
                   {'dataType': 'STRING', 'name:': 'plan |'}],
 'results': [['1', '20170101', 'free trial'],
             ['1', '20171013', 'advanced'],
             ['2', '20170214', 'free trial'],
             ['2', '20170228', 'free']],
 'totalResults': 4}

OperationalError: near ")": syntax error

In [11]:
example_json = {
    "totalResults": 4,
    "columnHeaders": [
        {"name:":  "company_id",
         "dataType": "STRING"
        },
        {"name:":  "plan_started_on",
         "dataType": "STRING"
        },
        {"name:":  "plan |",
         "dataType": "STRING"
        }, 
    ],
    "results" :[
        ["1", "20170101", "free trial"],
        ["1", "20171013", "advanced"],
        ["2", "20170214", "free trial"],
        ["2", "20170228", "free"]
    ]
    
}

In [12]:
example_json

{'totalResults': 4,
 'columnHeaders': [{'name:': 'company_id', 'dataType': 'STRING'},
  {'name:': 'plan_started_on', 'dataType': 'STRING'},
  {'name:': 'plan |', 'dataType': 'STRING'}],
 'results': [['1', '20170101', 'free trial'],
  ['1', '20171013', 'advanced'],
  ['2', '20170214', 'free trial'],
  ['2', '20170228', 'free']]}

In [15]:
jsonObj = "example.json"

with open(jsonObj) as json_data:
    data = json.load(json_data)
    json_data.close()

pprint(data)

conn = sqlite3.connect('test.sqlite')
c = db.cursor()
c.execute("CREATE TABLE IF NOT EXISTS SAAS_history")

for item in data:
    c.execute(json.dumps(SAAS_history))
    conn.commit()

{'columnHeaders': [{'dataType': 'STRING', 'name:': 'company_id'},
                   {'dataType': 'STRING', 'name:': 'plan_started_on'},
                   {'dataType': 'STRING', 'name:': 'plan |'}],
 'results': [['1', '20170101', 'free trial'],
             ['1', '20171013', 'advanced'],
             ['2', '20170214', 'free trial'],
             ['2', '20170228', 'free']],
 'totalResults': 4}

OperationalError: near "SAAS_history": syntax error

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy import MetaData, table
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = MetaData()

In [16]:
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [17]:
jsonObj = "example.json"

with open(jsonObj) as json_data:
    data = json.load(json_data)
    json_data.close()

pprint(data)

{'columnHeaders': [{'dataType': 'STRING', 'name:': 'company_id'},
                   {'dataType': 'STRING', 'name:': 'plan_started_on'},
                   {'dataType': 'STRING', 'name:': 'plan |'}],
 'results': [['1', '20170101', 'free trial'],
             ['1', '20171013', 'advanced'],
             ['2', '20170214', 'free trial'],
             ['2', '20170228', 'free']],
 'totalResults': 4}

In [18]:
engine = create_engine("sqlite:///saas.sqlite")
conn = engine.connect()

In [19]:
Base.metadata.create_all(engine)

NameError: name 'Base' is not defined

In [20]:
session = Session(engine)

NameError: name 'Session' is not defined

In [21]:
conn = sqlite3.connect('saas.sqlite')
c = db.cursor()
c.execute("CREATE TABLE IF NOT EXISTS SAAS_history")

OperationalError: near "SAAS_history": syntax error