In [42]:
import json
import pandas as pd
from pandas import DataFrame

# Creating DataFrame from JSON Object

In [36]:
# Define JSON object INSIDE string

raw_data = """
{
  "data":[
      {
    "id" : 1,
    "name":"bob",
    "job":"builder",
    "glasses": ["brown", "black", "white"],
    "pets" : [{"type":"dog"},{"type":"cat"}]
  },
  {
    "id" : 2,
    "name":"jim",
    "job":"carpenter",
    "glasses": ["red", "green", "yellow"],
    "pets" : [{"type":"rabbit"},{"type":"fish"}]
  },
  {
    "id" : 3,
    "name":"steve",
    "job":"mason",
    "glasses": ["coke bottle", "reading", "sun glasses"],
    "pets" : [{"type":"mouse"},{"type":"tiger"}]
  },
  {
    "id" : 4,
    "name":"frank",
    "job":"roofer",
    "glasses": ["plastic", "fancy", "boring"],
    "pets" : [{"type":"dog"},{"type":"dog"},{"type":"dog"}]
  },
  {
    "id" : 5,
    "name":"bill",
    "job":"landscaper",
    "glasses": ["orange", "sun glasses", "red"],
    "pets" : [{"type":"cat"},{"type":"dog"},{"type":"cat"}]
  }
    ]
} """

In [37]:
# LOADS = load string (from json object)

data = json.loads(raw_data)

In [38]:
data

{'data': [{'id': 1,
   'name': 'bob',
   'job': 'builder',
   'glasses': ['brown', 'black', 'white'],
   'pets': [{'type': 'dog'}, {'type': 'cat'}]},
  {'id': 2,
   'name': 'jim',
   'job': 'carpenter',
   'glasses': ['red', 'green', 'yellow'],
   'pets': [{'type': 'rabbit'}, {'type': 'fish'}]},
  {'id': 3,
   'name': 'steve',
   'job': 'mason',
   'glasses': ['coke bottle', 'reading', 'sun glasses'],
   'pets': [{'type': 'mouse'}, {'type': 'tiger'}]},
  {'id': 4,
   'name': 'frank',
   'job': 'roofer',
   'glasses': ['plastic', 'fancy', 'boring'],
   'pets': [{'type': 'dog'}, {'type': 'dog'}, {'type': 'dog'}]},
  {'id': 5,
   'name': 'bill',
   'job': 'landscaper',
   'glasses': ['orange', 'sun glasses', 'red'],
   'pets': [{'type': 'cat'}, {'type': 'dog'}, {'type': 'cat'}]}]}

In [40]:
data['data'][0]

{'id': 1,
 'name': 'bob',
 'job': 'builder',
 'glasses': ['brown', 'black', 'white'],
 'pets': [{'type': 'dog'}, {'type': 'cat'}]}

In [47]:
df = DataFrame(data)

In [48]:
df

                                                data
0  {'id': 1, 'name': 'bob', 'job': 'builder', 'gl...
1  {'id': 2, 'name': 'jim', 'job': 'carpenter', '...
2  {'id': 3, 'name': 'steve', 'job': 'mason', 'gl...
3  {'id': 4, 'name': 'frank', 'job': 'roofer', 'g...
4  {'id': 5, 'name': 'bill', 'job': 'landscaper',...

In [53]:
for row in (zip(data['data'])):
    print(row)

({'id': 1, 'name': 'bob', 'job': 'builder', 'glasses': ['brown', 'black', 'white'], 'pets': [{'type': 'dog'}, {'type': 'cat'}]},)
({'id': 2, 'name': 'jim', 'job': 'carpenter', 'glasses': ['red', 'green', 'yellow'], 'pets': [{'type': 'rabbit'}, {'type': 'fish'}]},)
({'id': 3, 'name': 'steve', 'job': 'mason', 'glasses': ['coke bottle', 'reading', 'sun glasses'], 'pets': [{'type': 'mouse'}, {'type': 'tiger'}]},)
({'id': 4, 'name': 'frank', 'job': 'roofer', 'glasses': ['plastic', 'fancy', 'boring'], 'pets': [{'type': 'dog'}, {'type': 'dog'}, {'type': 'dog'}]},)
({'id': 5, 'name': 'bill', 'job': 'landscaper', 'glasses': ['orange', 'sun glasses', 'red'], 'pets': [{'type': 'cat'}, {'type': 'dog'}, {'type': 'cat'}]},)